---
/**
 * Articles such as experiences in events with other developers or artists.
 */
import { getCollection } from "astro:content";

import Layout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Articles"
  description="Articles such as experiences in events with other developers or artists."
>
  <Section>
    <h2>Articles</h2>
    <p>
      A Fanshawe College student studying in Computer Programming and Analysis
    </p>
  </Section>
</Layout>
