---
/**
 * Articles such as experiences in events with other developers or artists.
 */
import { getCollection } from "astro:content";

import Layout from "../../layouts/BaseLayout.astro";
import Container from "../../components/Container.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Articles"
  description="Articles such as experiences in events with other developers or artists."
>
  <Container>
    <h2>Articles</h2>
    <p>As of now, there is no articles at the moment.</p>
  </Container>
</Layout>
