.preview-section {
  padding-bottom: 0;
}

.page-previews-container {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content:space-evenly;
}

.page-previews-container .page-preview {
  border-right: 4px solid #1e102e;
}

.page-previews-container .page-preview:last-child {
  border-right: none;
}