.text-element {
    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 100%;
}

.text-element-left {
    text-align: left;
}

.text-element-right {
    text-align: right;
    align-items: right;
}

.text-element-center {
    text-align: center;
    align-items: center;
}

.text-element-top {
    justify-content: start;
}

.text-element-middle {
    justify-content: center;
}

.text-element-bottom {
    justify-content: end;
}