.thumbnail-container {
  background-color: #191234;
  
  display: flex;
  flex-direction: column;
  
  border-radius: 4px;
  padding: 1rem;
  
  align-items: center;
  justify-content: space-around;

  overflow: hidden;
  
  transform: scale(1);
  transition: transform 0.5s;
}

.thumbnail-container:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
}

.thumbnail-container:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}

.thumbnail-container img {
  width: 100%;
  height: 100%;
}

.thumbnail-container h3 {
  margin: 0;
  color: white;
}

.gallery-logo .thumbnail {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.gallery-display .thumbnail {
  width: 100%;
  height: 60%;
  overflow: hidden;
}