.page-previews-container {
  display: flex;
  width: 100%;
  height: 80vh;

  justify-content: start;

  overflow-x: scroll;
}

.page-previews-container .page-preview:first-child {
  margin-left: 2vw;
}

.page-previews-container .page-preview {
  margin-right: 2vw;
}


@media screen and (max-width: 750px)
{
  .page-previews-container {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 0 2vw;

    height: auto;
  }

  .page-previews-container .page-preview:first-child {
    margin-left: 0;
    margin-top: 2vh;
  }

  .page-previews-container .page-preview {
    margin-right: 0;
    margin-bottom: 2vh;
  }
  
}