---
/**
 * Landing introduction page. It's to give a good brief explaination of my skills
 * and current experience. (As of Jan 11, 2024, I have no work experience).
 */
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";

import portraitImage from "../assets/portfolio-portrait.png";

import GithubLink from "../components/Icons/GithubLink.astro";
import ItchioLink from "../components/Icons/ItchioLink.astro";
import LinkedInLink from "../components/Icons/LinkedInLink.astro";

// const articles = await getCollection("articles", (a) => a.data.featured);

// articles.sort(
//   (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
// );
---

<Layout
  title="Home"
  description="Ranging from Web and Game Development, and Creative Arts!"
>
  <section class="h-dvh">
    <Container class="w-3/4">
      <h1>Matthew Ubalde</h1>
      <span
        >Striving to make beautiful and meaningful websites, functional
        software, and fun games</span
      >
    </Container>
    <div class="flex flex-row gap-2 m-2">
      <GithubLink size={32} />
      <ItchioLink size={32} />
      <LinkedInLink size={32} />
    </div>
    <Image
      src={portraitImage}
      alt="Portrait image of Matthew Ubalde"
      class="absolute right-0 bottom-0 w-full min-w-2xs max-w-lg"
    />
  </section>

  <!-- SUMMARY -->
  <Section header="SUMMARY">
    <Container>
      <p>
        A Fanshawe College student in the <b
          >Computer Programming and Analysis</b
        >, and later in <b>Game Development - Advanced Programming</b>, seeking
        to go deeper within the <b>web</b> or <b>game development</b> industry.
      </p>
    </Container>
    <Container>
      <h2>Key Skills</h2>
      <ul class="columns-2">
        <li>Quick-learner</li>
        <li>Critical Thinker</li>
        <li>Attention to Detail</li>
        <li>Creative</li>
        <li>Team-player</li>
      </ul>
    </Container>
  </Section>

  <!-- QUALIFICATIONS -->
  <Section header="QUALIFICATIONS" class="flex flex-col">
    <Container>
      <h2>Computer Programming and Analysis</h2>
      <div>Ontario College Advanced Diploma</div>
      <div class="flex flex-row justify-between">
        <div class="flex-2">
          <b>Fanshawe College</b> - London, ON
        </div>
        <div class="flex-1 text-right">December 2025</div>
      </div>
    </Container>
    <Container>
      <h2>CompTIA A+</h2>
      <div>Online Certification</div>
      <div class="flex flex-row justify-between">
        <div class="flex-2">
          <b>CompTIA</b>
        </div>
        <div class="flex-1 text-right">Expected: March 2026</div>
      </div>
      <ul>
        <li>
          Studying to have a deeper understanding of computers and laptops,
          Windows OS, and to further validate my skills as a technician as a
          volunteer
        </li>
        <li>Worked with children ages from 5-14 years old.</li>
        <li>Worked with children ages from 5-14 years old.</li>
      </ul>
    </Container>
  </Section>
  <!-- QUALIFICATIONS -->

  <!-- PROJECTS -->
  <Section header="PROJECTS" class="flex flex-col">
    <!-- TODO: Fill in projects -->
  </Section>
  <!-- PROJECTS -->

  <!-- EXPERIENCE -->
  <Section header="EXPERIENCES" class="flex flex-col">
    <Container>
      <h2>Code Instructor/Sensei</h2>
      <div class="flex flex-row justify-between">
        <div class="flex-2">
          <b>Code Ninjas</b> - London, ON
        </div>
        <div class="flex-1 text-right">Aug. 2025 - Present</div>
      </div>
      <ul>
        <li>Worked with children ages from 5-14 years old.</li>
        <li>Worked with children ages from 5-14 years old.</li>
        <li>Worked with children ages from 5-14 years old.</li>
      </ul>
    </Container>
    <Container>
      <h2>Volunteer Technician Supervisor</h2>
      <div class="flex flex-row justify-between">
        <div class="flex-2">
          <b>Jesus is Lord Church</b> - London, ON
        </div>
        <div class="flex-1 text-right">Aug. 2025 - Present</div>
      </div>
      <ul>
        <li>Worked with children ages from 5-14 years old.</li>
        <li>Worked with children ages from 5-14 years old.</li>
        <li>Worked with children ages from 5-14 years old.</li>
      </ul>
    </Container>
  </Section>
  <!-- EXPERIENCE -->

  <!-- CONTACT ME -->
  <Section header="CONTACT ME">
    <!-- TODO: CREATE A CONTACT ME FORM -->
    <Container class="flex flex-col gap-2">
      <input class="w-full min-h-12 p-1 bg-slate-900 rounded-md" />
      <textarea class="w-full min-h-52 p-1 bg-slate-900 rounded-md"></textarea>
      <button class="bg-slate-900 rounded-md p-2">Send!</button>
    </Container>
  </Section>
</Layout>

<!-- CONTACT ME -->
