---
/**
 * Landing introduction page. It's to give a good brief explaination of my skills
 * and current experience. (As of Jan 11, 2024, I have no work experience).
 */
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

import portraitImage from "../assets/portfolio-portrait.png";
import ContainerProject from "../components/ContainerProject.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";
import LayoutSection from "../components/LayoutSection.astro";
import DropdownContainer from "../components/DropdownContainer.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Home"
  description="Ranging from Web and Game Development, and Creative Arts!"
  hideNavPortrait
>
  <Fragment slot="top">
    <div
      class="relative h-screen flex flex-row px-32 bg-gradient-to-t from-slate-950 to-transparent"
    >
      <div class="h-full flex flex-col justify-center items-left w-full">
        <LayoutSection col noMedia class="w-96 justify-end grow">
          <h2 class="text-6xl">Matthew Ubalde</h2>
          <div class="text-4xl">Web and Game Developer</div>
          <p class="text-3xl">
            Striving to make beautiful websites, and meaningful and fun games.
          </p>
        </LayoutSection>
        <DropdownContainer class="z-40 w-full h-96 overflow-y-scroll">
          <Fragment slot="header">
            <h2>Resume</h2>
          </Fragment>
          <Section>
            <h2>Summary</h2>
            <p>
              A Fanshawe College student in the <b
                >Computer Programming and Analysis</b
              >, and later in <b>Game Development - Advanced Programming</b>,
              seeking to go deeper within the <b>web</b> or <b
                >game development</b
              > industry.
            </p>
          </Section>
          <Section>
            <h2>Key Skills</h2>
            <ul class="flex flex-row flex-wrap">
              <li>Quick-learner</li>
              <li>Critical Thinker</li>
              <li>Attention to Detail</li>
              <li>Curious</li>
              <li>Creative</li>
              <li>Time Responsible</li>
              <li>Adaptability</li>
              <li>Team-player</li>
            </ul>
          </Section>
          <LayoutSection col noMedia>
            <h2 class="text-center">Education</h2>
            <Section class="flex flex-col" noMargin>
              <h3>Computer Programming and Analysis</h3>
              <div class="flex flex-row justify-between">
                <div>
                  <b>Fanshawe College</b> - Ontario College Advanced Diploma
                </div>
                <div>Jan 2022 - April 2026</div>
              </div>
            </Section>
            <Section class="flex flex-col" noMargin>
              <h3>Game Development - Advanced Programming</h3>
              <div class="flex flex-row justify-between">
                <div>
                  <b>Fanshawe College</b> - Ontario College Graduate Certificate
                </div>
                <div>Sept 2025 - April 2026</div>
              </div>
            </Section>
          </LayoutSection>
          <div>
            <h2 class="text-center">Projects</h2>
            <ContainerProject>
              {
                articles &&
                  articles.map((p) => (
                    <ProjectShowcase
                      href={`./personal-portfolio-astro/projects/${p.id}`}
                      {...p.data}
                    />
                  ))
              }
            </ContainerProject>
          </div>
        </DropdownContainer>
      </div>
      <div class="self-end">
        <Image src={portraitImage} alt="" class="w-[48rem]" />
      </div>
    </div>
  </Fragment>
</Layout>
