---
/**
 * Landing introduction page. It's to give a good brief explaination of my skills
 * and current experience. (As of Jan 11, 2024, I have no work experience).
 */
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

import portraitImage from "../assets/portfolio-portrait.png";
import ContainerProject from "../components/ContainerProject.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";
import LayoutSection from "../components/LayoutSection.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Home"
  description="Ranging from Web and Game Development, and Creative Arts!"
>
  <Section>
    <h2>Summary</h2>
    <p>
      A Fanshawe College student studying in Computer Programming and Analysis
    </p>
  </Section>
  <Section>
    <h2>Key Skills</h2>
    <ul class="flex flex-row flex-wrap">
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
      <li>Intelligence</li>
    </ul>
  </Section>
  <Section>
    <h2>Education</h2>
  </Section>
  <Section>
    <h2>Projects</h2>
    <ContainerProject>
      {
        articles &&
          articles.map((p) => <ProjectShowcase href={p.id} {...p.data} />)
      }
    </ContainerProject>
  </Section>
  <Section>
    <h2>Experience</h2>
  </Section>
</Layout>
