.spotlight-section {
  position: relative;

  display: flex;
  justify-content: space-around;
  overflow: hidden;

  height: 80vh;
  min-height: 30rem;

  padding: 0 1rem;
}

.spotlight-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 30%;
  text-align: left;

  transform: scale(1);
  transition: transform 2s;
}

.spotlight-section img {
  height: 100%;
  transform: scale(1);
  transition: transform 2s;
}

.spotlight-section:hover .spotlight-description,
.spotlight-section:hover img {
  transform: scale(1.1);
  transition: transform 2s;
}

.spotlight-description h1 {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 650px) and (max-height: 750px) {
  .spotlight-section {
    display:block;
    height: 50vh;
    padding: 0;
  }

  .spotlight-description {
    position: absolute;
    align-items: center;
    text-align: center;

    width: 100%;

    padding: 0 1rem;
    z-index: 2;
  }

  .spotlight-section img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;

    opacity: 0.5;
  }

  .spotlight-section:hover .spotlight-description,
  .spotlight-section:hover img {
    transform: scale(1.05);
    transition: transform 2s;
  }
}

@media screen and (max-height: 500px) {
  .spotlight-description h1 {
    font-size: 2.5rem;
  }

  .spotlight-description p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) { 
  .spotlight-section {
    height: 70vh;
  }

  .spotlight-section img {
    left: 30%;
  }
}