.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form h1 {
  margin: 0;
  font-size: 2.5rem;
}

.field-container {
  display: flex;
  flex-direction: column;
  
  width: 80vw;
  padding-bottom: 1rem;
}

.field-container #message {
  height: 25vh;
}