---
import { Image } from "astro:assets";

import portraitImg from "../assets/portfolio-portrait.png";
---

<header
  class="z-50 pointer-events-auto group sticky xl:fixed inset-x-0 top-0 flex flex-row gap-2 px-2 py-2 from-gray-950 to-transparent bg-linear-to-b"
>
  <Image
    src={portraitImg}
    alt="Portrait of Matthew Ubalde"
    class="bg-slate-900 size-16 rounded-xl"
  />
  <div class="flex flex-col justify-center w-full h-full">
    <h1><a href="/personal-portfolio-astro">Matthew Ubalde</a></h1>
    <nav class="flex flex-row gap-2 text-xl text-sky-300">
      <a href="/personal-portfolio-astro/projects">Projects</a>
      <a href="/personal-portfolio-astro/articles">Articles</a>
      <a href="/personal-portfolio-astro/career">Career</a>
    </nav>
  </div>
</header>
