---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  header?: string;
  outerClass?: string;
}

const { header, class: className, outerClass } = Astro.props;
---

<section class:list={["group/outer relative", outerClass]}>
  {
    header && (
      <h1 class="absolute top-0 left-0 opacity-85 group-hover/outer:opacity-25 !text-5xl font-bold tracking-tighter text-wrap transition-opacity">
        {header}
      </h1>
    )
  }
  <div
    class:list={[
      "pt-12 group-hover/outer:pt-8 transition-[padding] ease-out",
      className,
    ]}
  >
    <slot />
  </div>
</section>
