.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    align-items: center;
    justify-content: space-evenly;
}

.gallery-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    text-align: center;
}

.gallery-text-container,
.gallery-thumbnail {
    width: calc(50% - 2rem);
    height: 70vh;
    margin: 1rem 0.5rem;
}

.thumbnail-logo .gallery-thumbnail {
    width: calc(25% - 2rem);
    height: 25%;
    padding: 1rem;
    margin: 1rem 0.5rem;
}