.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;
}

.gallery-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 1rem;
}

.gallery .thumbnail-container,
.gallery-text-container {
    margin: 1rem 0.5rem;
}

.gallery-logo .thumbnail-container,
.gallery-logo .gallery-text-container {
    width: calc(25% - 2rem);
    max-width: 20rem;
}

.gallery-display .thumbnail-container,
.gallery-display .gallery-text-container {
    width: calc(60% - 2rem);
}