.page-preview {
  height: 100%;
  width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-preview-bg {
  transform: scale(1);
  -webkit-filter: blur(8px);
  filter: blur(8px);

  transition: transform 0.25s, filter 0.25s;
}

.page-preview:hover .page-preview-bg {
  transform: scale(1.25);

  -webkit-filter: blur(0px);
  filter: blur(0px);

  transition: transform 0.1s, filter 0.5s;
}

.page-preview-construction,
.page-preview:hover .page-preview-construction {
  filter: grayscale()
}

.page-preview-placeholder {
  width: auto;
  height: 0; /*To make the background fill in the entire div*/

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.page-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: auto;

  background-color: #1912348a;
  padding: 1rem;
  margin: 1rem;

  text-align: center;
  border-radius: 4px;
}

.page-preview-container ul {
  list-style: none;
  padding: 0;
}