---
/**
 * Showcasing the projects made
 */
import { getCollection } from "astro:content";

import Layout from "../../layouts/BaseLayout.astro";
import Container from "../../components/Container.astro";

import ContainerProject from "../../components/ContainerProject.astro";
import ProjectShowcase from "../../components/ProjectShowcase.astro";
import LayoutSection from "../../components/LayoutSection.astro";

const articles = (
  await getCollection("articles", (a) => a.data.featured)
).sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf());
---

<Layout
  title="Projects"
  description="Ranging from Web and Game Development, and Creative Arts!"
>
  <h1 class="text-center">Projects</h1>
  <LayoutSection row class="justify-center items-stretch">
    <a href="./projects/games">
      <Container noMargin>
        <h2 class="text-center">Games</h2>
      </Container>
    </a>
    <a href="./projects/apps">
      <Container noMargin>
        <h2 class="text-center">Apps</h2>
      </Container>
    </a>
    <a href="./projects/web">
      <Container noMargin>
        <h2 class="text-center">Websites</h2>
      </Container>
    </a>
  </LayoutSection>
  {
    articles.length !== 0 && (
        <h2 class="text-center">Featured Projects</h2>
        <ContainerProject>
          {articles.map((p) => (
            <ProjectShowcase href={`./projects/${p.id}`} {...p.data} />
          ))}
        </ContainerProject>
    )
  }
</Layout>
