---
/**
 * Showcasing the projects made
 */
import { getCollection } from "astro:content";

import Layout from "../../layouts/BaseLayout.astro";
import Container from "../../components/Container.astro";

import ContainerProject from "../../components/ContainerProject.astro";
import ProjectShowcase from "../../components/ProjectShowcase.astro";
import Section from "../../components/Section.astro";

const gameProjects = (await getCollection("gameProjects")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
const webProjects = (await getCollection("webProjects")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Layout
  title="Projects"
  description="Ranging from Web and Game Development, and Creative Arts!"
>
  <Section header="PROJECTS">
    <Container textContent>
      <p>
        Contains all of the projects that includes applications, websites, and
        games.
      </p>
    </Container>
  </Section>
  {
    gameProjects.length !== 0 && (
      <Section header="GAMES">
        <ContainerProject>
          {gameProjects.map((p) => (
            <ProjectShowcase href={`./projects/${p.id}`} {...p.data} />
          ))}
        </ContainerProject>
      </Section>
    )
  }
  {
    webProjects.length !== 0 && (
      <Section header="WEBSITES">
        <ContainerProject>
          {webProjects.map((p) => (
            <ProjectShowcase href={`./projects/${p.id}`} {...p.data} />
          ))}
        </ContainerProject>
      </Section>
    )
  }
</Layout>
