.switch-content {
  height: auto;
  width: auto;
  min-width: 12rem;

  color: white;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.switch-content-btn {
  background-color: #191234;
  color: white;

  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;

  font-size: 1.5rem;
}
