nav, div {
    box-sizing: border-box;
}

section {
    width: 100%;
    min-height: 30vh;
    height: auto;
    overflow: hidden;

    padding: 1rem 0;

    text-align: center;
}

body {
    background-image: linear-gradient(to bottom, #2c3664, #191234, #2c3664);
    background-color: #2c3664;
    margin: 0;

    font-size: 24px;

    overflow: hidden;
    overflow-y: auto;

    color: white;
}

h1 {
    margin: 0.75rem;
}

h2, ul {
    margin: 0.5rem 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0.5rem 0;
}

img {
    object-fit: cover;
}
