---
/**
 * The base of the entire website.
 * It holds the metadata in the head, Navbars, and holds the main content.
 */
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

import NavbarDesktop from "../components/Navbar/NavbarDesktop.astro";
import NavbarMobile from "../components/Navbar/NavbarMobile.astro";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  prevNav?: string;
  title: string;
  description: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Matthew Ubalde | " + title} description={description} />
  </head>
  <body
    class="h-fit min-h-screen overflow-x-hidden bg-slate-800 bg-gradient-to-b from-slate-800 to-slate-950 text-cyan-50"
  >
    <header class="fixed inset-0 pointer-events-none">
      <!-- Bar background -->
      <div class="h-full w-4 bg-slate-600"></div>
      <div
        class="absolute top-2 left-2 right-2 flex flex-row gap-2 h-fit pointer-events-auto"
      >
        <!-- Put the image here -->
        <a href="/"><div class="bg-red-100 w-24 h-24"></div></a>
        <div class="flex flex-col w-fit">
          <h1><a href="/">Matthew Ubalde</a></h1>
          <div>Web and Game Developer</div>
          <div class="text-xl">
            <a href="/projects">Projects</a> | <a href="/blogs">Blogs</a>
          </div>
        </div>
      </div>
    </header>
    <div class="min-h-screen ml-4 flex flex-col justify-between">
      <main class="mt-28">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
