---
/**
 * The base of the entire website.
 * It holds the metadata in the head, Navbars, and holds the main content.
 */
import { Image } from "astro:assets";

import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

import portraitImg from "../assets/portfolio-portrait.png";

import NavbarDesktop from "../components/Navbar/NavbarDesktop.astro";
import NavbarMobile from "../components/Navbar/NavbarMobile.astro";

import gridBg from "../assets/grid-bg.svg";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  prevNav?: string;
  title: string;
  description: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Matthew Ubalde | " + title} description={description} />
  </head>
  <body
    class="h-fit min-h-screen overflow-x-hidden bg-slate-800 bg-gradient-to-b from-slate-800 to-slate-950 text-cyan-50"
  >
    <Image
      src={gridBg}
      alt=""
      class="fixed -left-1 -top-8 w-[200%] opacity-10 rotate-2"
    />

    <header class="fixed inset-0 pointer-events-none z-50">
      <!-- Bar background -->
      <div class="h-full w-4 bg-slate-600"></div>
      <div
        class="absolute top-2 left-2 right-0 flex flex-row h-fit pointer-events-auto"
      >
        <a
          class="bg-slate-800 w-28 h-28 md:w-32 md:h-32 lg:w-36 lg:h-36 overflow-hidden rounded-sm"
          href="/personal-portfolio-astro"
        >
          <Image src={portraitImg} alt="" />
        </a>
        <div
          class="flex flex-col justify-center w-fit p-2 bg-gradient-to-r from-slate-900 via-slate-800 to-transparent"
        >
          <h1><a href="/personal-portfolio-astro">Matthew Ubalde</a></h1>
          <div>Web and Game Developer</div>
          <div class="text-xl">
            <a href="/personal-portfolio-astro/projects">Projects</a> | <a
              href="/personal-portfolio-astro/articles">Articles</a
            > |
            <a href="/personal-portfolio-astro/career">Career</a>
          </div>
        </div>
      </div>
    </header>

    <div class="min-h-screen ml-4 flex flex-col justify-between">
      <main class="mt-28 md:mx-auto md:w-3/4 lg:w-1/2">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
