---
/**
 * The base of the entire website.
 * It holds the metadata in the head, Navbars, and holds the main content.
 */
import { Image } from "astro:assets";

import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

import gridBg from "../assets/grid-bg.svg";

const pathname = Astro.url.pathname;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Matthew Ubalde | " + title} description={description} />
  </head>
  <body>
    <Image
      src={gridBg}
      alt=""
      class="fixed -left-1 -top-1 w-[200%] opacity-10 rotate-1 pointer-events-none"
    />
    <!-- HEADER / NAV SECTION -->
    <Navbar />
    <!-- HEADER / NAV SECTION -->
    {Astro.slots.has("top") && <slot name="top" />}
    <main class="lg:mx-auto lg:w-1/2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
