---
/**
 * ProjectListLayout
 *
 * A template for the projects pages
 */
import { getCollection } from "astro:content";
import type { CollectionKey } from "astro:content";

import Layout from "./BaseLayout.astro";

import ContainerProject from "../components/ContainerProject.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";
import FlexContainer from "../components/FlexContainer.astro";

interface Props {
  title: string;
  description?: string;
  collectionName: CollectionKey;
  root: string;
}

const { title, description, collectionName, root } = Astro.props;

const projects = (await getCollection(collectionName)).sort(
  (a, b) => b.data.published?.valueOf() - a.data.published?.valueOf()
);
---

<Layout
  title={title}
  description={description ?? ""}
>
  <FlexContainer col>
    <h1 class="text-center">{title}</h1>
    {
      projects.length !== 0 ? (
        <div class="text-center text-xl">Ranging from Latest to Oldest</div>
        <ContainerProject>
          {projects.map((p) => (
            <ProjectShowcase
              {...p.data}
              href={`/personal-portfolio-astro/projects/${root}/${p.id}`}
            />
          ))}
        </ContainerProject>
      ) : (
        <div class="text-center text-xl">No projects at the moment!</div>
      )
    }
  </FlexContainer>
</Layout>
