.banner {
    position: fixed;
    bottom: 0;

    width: 100%;

    margin: 0;
    padding: 1rem;

    text-align: center;

    background-color: rgba(54, 101, 172, 0.616);
    z-index: 3;

    opacity: 1;
    transform: translateY(0);
    transition: transform 0.1s, opacity 0.1s;
}

.banner:hover {
    opacity: 0;
    transform: translateY(2rem);
    transition: transform 0.1s, opacity 0.1s;
}

p {
    margin: 0;
    padding: 0;
    color: white;
}

.banner-construction {
    background-color: rgba(245, 193, 23, 0.527);
}

.banner-warning {
    background-color: rgba(236, 19, 19, 0.493);
}

.banner-noticed {
    background-color: rgba(236, 211, 128, 0.616);
}

@media screen and (max-width: 500px) {
    .banner p {
        font-size: 1.25rem;
    }
}