---
/**
 * Explores my experience as a game developer.
 * Highlights my intrigue in game development and my thought process in these games.
 */
import { getCollection } from "astro:content";

import IndexLayout from "./index.astro";
import Container from "../../components/Container.astro";
import Section from "../../components/Section.astro";
import ContainerProject from "../../components/ContainerProject.astro";
import ProjectShowcase from "../../components/ProjectShowcase.astro";
import BadgeDisplay from "../../components/BadgeDisplay.astro";

const projects = (await getCollection("gameProjects")).sort(
  (a, b) => b.data.published?.valueOf() - a.data.published?.valueOf(),
);

const experiences = await getCollection("experiences");
const expGame = experiences[0].data.filter((e) => e.types.includes("game"));
---

<IndexLayout
  title="Game"
  description="Have experience in Godot and Unity to create well designed games"
>
  <Section header="SUMMARY">
    <Container textContent class="md:mx-auto md:w-3/4">
      <p>
        Was taught on how to use the Unity Engine, but developed games as a
        side-hobby with Godot. This is purely as an interest, but willing to try
        to break into this industry when given the opportunity.
      </p>
    </Container>
  </Section>
  <Section header="SKILLS">
    <BadgeDisplay src={expGame} title="Game Engines" />
  </Section>
  {
    projects.length !== 0 && (
      <Section header="SIDE-PROJECTS">
        <Container textContent class="sm:w-2/3 sm:mx-auto">
          <p>
            These are purely made out of fun as I found the game development
            interesting since I was really young. I like making games that are
            simple, but tried to make it deep and rewarding at the same time.
          </p>
        </Container>
        <ContainerProject>
          {projects.map((p) => (
            <ProjectShowcase
              {...p.data}
              href={`/personal-portfolio-astro/projects/games/${p.id}`}
            />
          ))}
        </ContainerProject>
      </Section>
    )
  }
</IndexLayout>
