---
/**
 * Putting the different variety of fields in different pages
 *
 * Prior version-4.0, there were separated fields for different careers.
 * But I decided to make the landing page more specialized for web and game
 * development, and have this to showcase my other skills as well such as in
 * Mobile and Software Development, and Arts.
 */
import { getCollection } from "astro:content";

import Layout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import LayoutSection from "../../components/LayoutSection.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Career"
  description="My career in computer sciences and my hobby as an artist."
>
  <Section articleContent>
    <h2 class="text-center">Career</h2>
    <p>
      As of now, I'm currently seeking a career within the field of game or web
      development. However, in my time in Fanshawe, I've learned variety of
      skills from different department in software development such as mobile
      development, and general software development.
    </p>
    <p>This also includes my art skills as well as a hobbyist.</p>
  </Section>
  <div>
    <h3 class="text-center">Computer Related-fields</h3>
    <LayoutSection col class="justify-center items-stretch text-center">
      <a href="./career/software">
        <Section noMargin> <h4>General Software</h4> </Section>
      </a>
      <a href="./career/mobile">
        <Section noMargin> <h4>Mobile Development</h4> </Section>
      </a>
      <a href="./career/web">
        <Section noMargin> <h4>Web Development</h4> </Section>
      </a>
      <a href="./career/game">
        <Section noMargin> <h4>Game Development</h4> </Section>
      </a>
    </LayoutSection>
  </div>

  <div>
    <h3 class="text-center">Art Related-fields</h3>
    <LayoutSection col class="justify-center items-stretch text-center">
      <a href="./career/art">
        <Section noMargin> <h4>Art Hobbyist</h4> </Section>
      </a>
    </LayoutSection>
  </div>
</Layout>
